* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, lightblue, orange);
  min-height: 1500px;
}

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parallax::before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 100px;
  z-index: 10000;
}

#parallax::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  z-index: 10000;
}

#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

form {
  display: block;
  width: 100%;
  margin: 0.1rem;
  padding: 0.1rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  width: 80%;
  margin-inline: 1rem auto;
}

#monsters-agenda {
  display: flex;
  flex-direction: column;
}

#text {
  position: relative;
  color: #ffffff;
  font-size: 10rem;
  z-index: 1;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

label {
  display: block;
}

#monster-name-required-error,
#monster-type-required-error,
#monster-weakness-required-error,
#monster-element-required-error {
  color: red;
  font-weight: bold;
  visibility: hidden;
}