* {
  padding: 0px;
  border: 0px;
  margin: 0px;

  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

header {
  background-color: black;
  display: block;
}

#header-title {
  color: white;
  font-family: arial;
  font-weight: 900;
  font-size: x-large;
}

a {
  text-decoration: none;
}

#header-search-bar {
  width: 30%;
  color: white;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 9px;
}

#header-login {
  color: white;
  padding-top: 6px;
}

#search-bar-text {
  opacity: 0.7;
}

#header-login {
  color: white;
}

nav {

  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 10px 50px 0px 50px;
}

button {
  margin: 0px 10px;
}

#main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main-container-left {
  display: grid;
  width: 5vw;
  min-height: 80vh;
  background-color: rgb(187, 187, 187);
  justify-items: center;
}

.main-container-right {
  width: 95vw;
  /* min-height: 80vh; */
  background-color: black;
}

#main-container-header {
  display: flex;
  justify-content: space-around;
}

#main-container-content,
#second-main-container-content,
#third-main-container-content,
#fourth-main-container-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-container-photos {
  width: 30vw;
  color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-container-photos>div {
  text-align: center;
  width: 100%;
}

.main-container-photos .main-container-image {
  width: 30vw;
  height: 30vh;
}

.content-photos {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

h1 {
  color: white;
}

#form-custom-monster {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 10vw;
  color: white;
}

#left-side-icons-1 {

  height: 2vh;
}

#left-side-icons-2 {

  height: 2vh;
}

#left-side-icons-3 {

  height: 2vh;
}

#left-side-icons-4 {

  height: 2vh;
}

footer {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #1e1e1e;
  color: white;
  padding: 40px 20px;
}

footer div {
  justify-content: space-evenly;
  width: 100vw;
  padding-top: 10px;
}

footer div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.footer-icons svg {
  display: block;
  margin: 8px 0;
  width: 24px;
  height: 24px;
  color: white;
}

#footer-links {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

ul {
  list-style: none;
}


.zoom {
  padding: 20px;
  transition: transform .2s;
  width: 15vw;
  height: auto;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.3);
}

.monster-ecology {
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 992px) {

  .main-container-photos {
    width: 40vw;
  }

  .main-container-photos .main-container-image {
    width: 40vw;
    height: 40vh;
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

}

@media (max-width: 600px) {
  .main-container-photos {
    width: 80vw;
  }

  .main-container-photos .main-container-image {
    width: 80vw;
    height: 16vw;
  }

  header {
    float: none;
    display: block;
    text-align: left;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    background-image: linear-gradient(to right, rgb(0, 0, 0), white);
  }

  button,
  #hide-me {
    visibility: hidden;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}